.body {
    width: 100%;
    height: 100%;
    display: flex;
}

.header {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}


.AvatarRoot {
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--violet-11);
    font-size: 15px;
}

.AvatarImage {
    width: 100%;
    height: 100%;
}

.AvatarFallback {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}